<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp.iitb.vialogue">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <intent-filter>
        <action android:name="android.intent.action.MEDIA_MOUNTED" />
        <data android:scheme="file" />
    </intent-filter>

    <!-- camera related permissions -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashIt"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignIn"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ExperimentingParse.SingleItemView" />
        <activity
            android:name=".ExperimentingParse.CanYouLoadMore"
            android:label="Testing yo!" />
        <activity
            android:name=".activity.AudioRecordActivity"
            android:label="@string/add_audio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.CropMainActivity"
            android:label="@string/title_activity_crop_image"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".library.cropper.CropImageActivity"
            android:label="@string/add_audio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UploadVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_upload_video"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.VideoPlayer"
            android:label="@string/title_activity_video_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OfflineVideoPlayer"
            android:label="@string/title_activity_video_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PermissionsActivity" />
        <activity android:name=".activity.QuestionDialogResultActivity" />
        <activity android:name=".activity.PhoneNumberSigninActivity" />

        <receiver android:name=".listeners.SmsOtpListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.ClosingService"
            android:enabled="true"
            android:stopWithTask="false" />

        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.CropMainActivityMark2"></activity>
        <activity
            android:name="com.darsh.multipleimageselect.activities.AlbumSelectActivity"
            android:theme="@style/MultipleImageSelectTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>